Repository fast-aircraft-design/FAST-OAD_CS25: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements, nbstripout

black:
  name: black
  language: system
  entry: black

flake8:
  name: flake8
  language: system
  entry: flake8

sync_doc_requirements:
  name: sync_doc_requirements
  entry: poetry export --with dev --without-hashes -o docs/requirements.txt -f requirements.txt
  language: system
  pass_filenames: false

nbstripout:
  name: nbstripout
  description: 'nbstripout: strip output from Jupyter and IPython notebooks'
  entry: nbstripout
  language: system

added pyparsing again
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

corrected ft m conversion
  src/fastoad_cs25/models/geometry/tests/data/geometry_inputs_full.xml
  src/fastoad_cs25/notebooks/01_tutorial/data/CeRAS01_baseline.xml
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/CeRAS_reference_data.xml
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/oad_sizing_out.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_breguet_result.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_mission_result.xml
  tests/integration_tests/oad_process/data/no_kink_breguet_result.xml
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

Added the option to output the landing polar to the aerodynamics.landing discipline
  src/fastoad_cs25/models/aerodynamics/aerodynamics_landing.py
  src/fastoad_cs25/models/aerodynamics/components/compute_polar.py
  src/fastoad_cs25/models/aerodynamics/tests/data/aerodynamics_inputs.xml
  src/fastoad_cs25/models/aerodynamics/tests/test_aerodynamics_landing.py
Due: black, flake8

Removed the option, now aerodynamics.landing outputs a polar like all other aerodynamic disciplines
  src/fastoad_cs25/models/aerodynamics/aerodynamics_landing.py
  src/fastoad_cs25/models/aerodynamics/tests/test_aerodynamics_landing.py
Due: black, flake8

Added the aerodynamic.lowspeed discipline to the oad process as its ouputs are now necessary for the aerodynamics.landing discipline for the calculation of the polar.
  tests/integration_tests/oad_process/data/oad_process.yml
  tests/integration_tests/oad_process/data/oad_process_breguet.yml
Due: none

typo - Update src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/oad_sizing_out.xml
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/oad_sizing_out.xml
Due: none

fix some small leftovers
  pyproject.toml
  src/fastoad_cs25/models/weight/mass_breakdown/d_furniture/sum.py
Due: black, flake8

use numpy instead of math library as default in the cs25 repo
  src/fastoad_cs25/models/geometry/geom_components/fuselage/compute_cnbeta_fuselage.py
  src/fastoad_cs25/models/geometry/geom_components/ht/components/compute_ht_cl_alpha.py
  src/fastoad_cs25/models/geometry/geom_components/ht/components/compute_ht_mac.py
  src/fastoad_cs25/models/geometry/geom_components/ht/components/compute_ht_sweep.py
  src/fastoad_cs25/models/geometry/geom_components/vt/components/compute_vt_clalpha.py
  src/fastoad_cs25/models/geometry/geom_components/vt/components/compute_vt_mac.py
  src/fastoad_cs25/models/geometry/geom_components/vt/components/compute_vt_sweep.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_b_50.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_l1_l4.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_l2_l3.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_sweep_wing.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_toc_wing.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_x_wing.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_y_wing.py
  src/fastoad_cs25/models/propulsion/fuel_propulsion/rubber_engine/rubber_engine.py
  src/fastoad_cs25/models/weight/cg/cg_components/compute_cg_tanks.py
  src/fastoad_cs25/models/weight/cg/cg_components/compute_ht_cg.py
  src/fastoad_cs25/models/weight/cg/cg_components/compute_vt_cg.py
Due: black, flake8

fix n pax computation, using ceil
  src/fastoad_cs25/models/geometry/geom_components/fuselage/compute_fuselage.py
Due: black, flake8

removed commented out code
  src/fastoad_cs25/models/propulsion/fuel_propulsion/rubber_engine/openmdao.py
Due: black, flake8

roll back to legacy behaviour and use trunc instead of ceil for equipage evaluation
  src/fastoad_cs25/models/geometry/geom_components/fuselage/compute_fuselage.py
Due: black, flake8

fix float conversion in xfoil polar
  src/fastoad_cs25/models/aerodynamics/external/xfoil/xfoil_polar.py
Due: black, flake8

ruff formatting
  src/fastoad_cs25/models/aerodynamics/aerodynamics_landing.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_fuselage.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_ht.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_nacelles_pylons.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_total.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_vt.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_wing.py
  src/fastoad_cs25/models/aerodynamics/components/cd_compressibility.py
  src/fastoad_cs25/models/aerodynamics/components/cd_trim.py
  src/fastoad_cs25/models/aerodynamics/components/compute_alpha.py
  src/fastoad_cs25/models/aerodynamics/components/compute_max_cl_landing.py
  src/fastoad_cs25/models/aerodynamics/components/compute_polar.py
  src/fastoad_cs25/models/aerodynamics/components/initialize_cl.py
  src/fastoad_cs25/models/aerodynamics/components/oswald.py
  src/fastoad_cs25/models/aerodynamics/components/tests/test_components.py
  src/fastoad_cs25/models/geometry/geom_components/fuselage/compute_fuselage.py
  src/fastoad_cs25/models/geometry/geom_components/vt/components/compute_vt_distance.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/tests/test_wing_geom_comps.py
  src/fastoad_cs25/models/geometry/tests/test_geometry_geom_comps.py
  src/fastoad_cs25/models/handling_qualities/tail_sizing/compute_ht_area.py
  src/fastoad_cs25/models/loops/wing_area_component/update_wing_area_aero.py
  src/fastoad_cs25/models/propulsion/fuel_propulsion/rubber_engine/openmdao.py
  src/fastoad_cs25/models/propulsion/fuel_propulsion/rubber_engine/tests/test_openmdao_engine.py
  src/fastoad_cs25/models/weight/cg/cg_components/compute_cg_others.py
  src/fastoad_cs25/models/weight/cg/cg_components/compute_max_cg_ratio.py
  src/fastoad_cs25/models/weight/cg/cg_components/load_cases/compute_cg_loadcases.py
  src/fastoad_cs25/models/weight/cg/cg_components/update_mlg.py
  src/fastoad_cs25/models/weight/cg/tests/test_cg_components.py
  src/fastoad_cs25/models/weight/mass_breakdown/a_airframe/a1_wing_weight.py
  src/fastoad_cs25/models/weight/mass_breakdown/c_systems/c1_power_systems_weight.py
  src/fastoad_cs25/models/weight/mass_breakdown/c_systems/c2_life_support_systems_weight.py
  src/fastoad_cs25/models/weight/mass_breakdown/c_systems/c5_fixed_operational_systems_weight.py
  src/fastoad_cs25/models/weight/mass_breakdown/d_furniture/d1_cargo_configuration_weight.py
Due: black, flake8

add ruff toml as a separate file
  pyproject.toml
  ruff.toml
Due: none

added unitless attribute to XMLs used for testing purposes
  problem_out/.openmdao_out
  src/fastoad_cs25/models/aerodynamics/components/tests/data/aerodynamics_inputs.xml
  src/fastoad_cs25/models/aerodynamics/tests/data/aerodynamics_inputs.xml
  src/fastoad_cs25/models/geometry/tests/data/geometry_inputs_full.xml
  src/fastoad_cs25/models/handling_qualities/tests/data/hq_inputs.xml
  src/fastoad_cs25/models/loads/tests/data/mass_breakdown_inputs.xml
  src/fastoad_cs25/models/weight/cg/cg_components/load_cases/compute_cg_loadcases.py
  src/fastoad_cs25/models/weight/cg/tests/data/cg_inputs.xml
  src/fastoad_cs25/models/weight/mass_breakdown/tests/data/mass_breakdown_inputs.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_breguet_result.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_mission_result.xml
  tests/integration_tests/oad_process/data/no_kink_breguet_result.xml
Due: black, flake8

expansion of the interpolation bound for k_sfc to avoid error in early mission iteration
  src/fastoad_cs25/models/propulsion/fuel_propulsion/rubber_engine/rubber_engine.py
  src/fastoad_cs25/models/propulsion/fuel_propulsion/rubber_engine/tests/test_rubber_engine.py
Due: black, flake8

addition of a check on initial wing area default value to avoid negative chord
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_l1_l4.py
  src/fastoad_cs25/models/propulsion/fuel_propulsion/rubber_engine/tests/test_rubber_engine.py
Due: black, flake8

codacy fix issues
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_l1_l4.py
Due: black, flake8

addition of test for fix around too small initial wing area giving negative chord
  src/fastoad_cs25/models/geometry/geom_components/wing/tests/test_compute_wing.py
Due: black, flake8

remove of math function
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_l1_l4.py
Due: black, flake8

minor gramar and float conversion fixes
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_l1_l4.py
  src/fastoad_cs25/models/geometry/geom_components/wing/tests/test_compute_wing.py
  src/fastoad_cs25/models/propulsion/fuel_propulsion/rubber_engine/tests/test_rubber_engine.py
Due: black, flake8

Addition of warning for negative chord value in replacement of previous incorrect fix
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_l1_l4.py
  src/fastoad_cs25/models/geometry/geom_components/wing/tests/test_compute_wing.py
  tests/integration_tests/oad_process/data/CeRAS01_infeasible_wing_geometry.xml
  tests/integration_tests/oad_process/data/oad_process_infeasible_wing_geometry.yml
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

added 3.13 and 3.14, updated ruff
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

updated CI workflows
  .github/workflows/build_release.yml
  .github/workflows/tests.yml
  .github/workflows/watchman_tests.yml
Due: none

updated readme
  README.md
Due: none

update dependencies
  docs/requirements.txt
  poetry.lock
Due: sync_doc_requirements

test for unfeasible wing geomtry transform into a unit test instead of an integration test
  src/fastoad_cs25/models/geometry/geom_components/wing/components/tests/test_wing_geom_comps.py
  tests/integration_tests/oad_process/data/CeRAS01_infeasible_wing_geometry.xml
  tests/integration_tests/oad_process/data/oad_process_infeasible_wing_geometry.yml
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

grammar correction
  src/fastoad_cs25/models/geometry/geom_components/wing/components/tests/test_wing_geom_comps.py
Due: black, flake8

applymap is deprecated in pandas 3.0
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

update changelog and toml
  CHANGELOG.rst
  pyproject.toml
Due: none

Update src/fastoad_cs25/models/aerodynamics/aerodynamics_landing.py
  src/fastoad_cs25/models/aerodynamics/aerodynamics_landing.py
Due: black, flake8

small comments fix
  src/fastoad_cs25/models/aerodynamics/components/compute_reynolds.py
  src/fastoad_cs25/models/aerodynamics/components/tests/test_components.py
Due: black, flake8

Using RegisterSubmodel through api
  src/fastoad_cs25/models/aerodynamics/aerodynamics_landing.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  sync_doc_requirements: any of: poetry.lock
  nbstripout: any of: \.ipynb$
