Repository fast-aircraft-design/FAST-OAD_CS25: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements, nbstripout

black:
  name: black
  language: system
  entry: black

flake8:
  name: flake8
  language: system
  entry: flake8

sync_doc_requirements:
  name: sync_doc_requirements
  entry: poetry export --with dev --without-hashes -o docs/requirements.txt -f requirements.txt
  language: system
  pass_filenames: false

nbstripout:
  name: nbstripout
  description: 'nbstripout: strip output from Jupyter and IPython notebooks'
  entry: nbstripout
  language: system

Update src/fastoad_cs25/models/aerodynamics/components/tests/test_components.py
  src/fastoad_cs25/models/aerodynamics/components/tests/test_components.py
Due: black, flake8

Update src/fastoad_cs25/models/geometry/geom_components/ht/ht_global_positions.py
  src/fastoad_cs25/models/geometry/geom_components/ht/ht_global_positions.py
Due: black, flake8

Removed service for vt global positions
  src/fastoad_cs25/models/geometry/constants.py
  src/fastoad_cs25/models/geometry/geom_components/vt/compute_vertical_tail.py
  src/fastoad_cs25/models/geometry/geom_components/vt/vt_global_positions.py
Due: black, flake8

Removed service for ht global positions
  src/fastoad_cs25/models/geometry/constants.py
  src/fastoad_cs25/models/geometry/geom_components/ht/compute_horizontal_tail.py
  src/fastoad_cs25/models/geometry/geom_components/ht/ht_global_positions.py
Due: black, flake8

Corrected sweep angle
  src/fastoad_cs25/models/geometry/geom_components/ht/components/compute_ht_local_positions.py
  src/fastoad_cs25/models/geometry/geom_components/vt/components/compute_vt_local_positions.py
Due: black, flake8

Corrected typo in comment
  src/fastoad_cs25/models/geometry/geom_components/ht/components/compute_ht_local_positions.py
Due: black, flake8

Updated tests for ht and vt local positions
  src/fastoad_cs25/models/geometry/tests/test_geometry_geom_comps.py
Due: black, flake8

Now directly using span wise position of MAC
  src/fastoad_cs25/models/geometry/geom_components/ht/components/compute_ht_local_positions.py
  src/fastoad_cs25/models/geometry/geom_components/vt/components/compute_vt_local_positions.py
  src/fastoad_cs25/models/geometry/tests/test_geometry_geom_comps.py
Due: black, flake8

Now directly using span wise position of MAC
  src/fastoad_cs25/models/geometry/geometry.py
  src/fastoad_cs25/models/handling_qualities/tail_sizing/compute_ht_area.py
  src/fastoad_cs25/models/handling_qualities/tests/test_tail_areas.py
Due: black, flake8

Simplified formula for HTP sweep angles
  src/fastoad_cs25/models/geometry/geom_components/ht/components/compute_ht_sweep.py
Due: black, flake8

Added user input to control manoeuvre load factor, gust load factor and option to activate fuel load alleviation
  src/fastoad_cs25/models/weight/mass_breakdown/cs25.py
  src/fastoad_cs25/models/weight/mass_breakdown/tests/test_mass_breakdown.py
Due: black, flake8

Update reference files with GLA=0.5 to keep integration tests happy. Data files may be updated as a consequence of the bug fix in cs25.py. But that implies recalibration against CeRAS...
  src/fastoad_cs25/notebooks/01_tutorial/data/CeRAS01_baseline.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_breguet_result.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_mission_result.xml
  tests/integration_tests/oad_process/data/no_kink_breguet_result.xml
Due: none

Forced GLA to 0 for optim test
  src/fastoad_cs25/notebooks/01_tutorial/data/CeRAS01_baseline.xml
Due: none

Forced GLA to 0 for OEW test
  src/fastoad_cs25/models/weight/mass_breakdown/tests/data/mass_breakdown_inputs.xml
Due: none

Fixed test for local HTP positions
  src/fastoad_cs25/models/geometry/tests/test_geometry_geom_comps.py
Due: black, flake8

Fixed test for local VTP positions
  src/fastoad_cs25/models/geometry/tests/test_geometry_geom_comps.py
Due: black, flake8

Revert wrongly modified oew test value
  src/fastoad_cs25/models/weight/mass_breakdown/tests/test_mass_breakdown.py
Due: black, flake8

Tentative to fix codacy warning
  src/fastoad_cs25/models/weight/mass_breakdown/cs25.py
Due: black, flake8

Variable renaming, fix for watshman test
  src/fastoad_cs25/models/variable_descriptions.txt
  src/fastoad_cs25/models/weight/mass_breakdown/cs25.py
  src/fastoad_cs25/models/weight/mass_breakdown/tests/data/mass_breakdown_inputs.xml
  src/fastoad_cs25/models/weight/mass_breakdown/tests/test_mass_breakdown.py
  src/fastoad_cs25/notebooks/01_tutorial/data/CeRAS01_baseline.xml
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/CeRAS_reference_data.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_breguet_result.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_mission_result.xml
  tests/integration_tests/oad_process/data/no_kink_breguet_result.xml
Due: black, flake8

Update of run_system()
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/fastoad_cs25/models/aerodynamics/components/tests/test_components.py
  src/fastoad_cs25/models/aerodynamics/external/xfoil/tests/test_xfoil.py
  src/fastoad_cs25/models/aerodynamics/tests/test_aerodynamics_landing.py
  src/fastoad_cs25/models/geometry/geom_components/nacelle_pylons/tests/test_geom_nacelle_pylon.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/tests/test_wing_geom_comps.py
  src/fastoad_cs25/models/geometry/geom_components/wing/tests/test_compute_wing.py
  src/fastoad_cs25/models/geometry/geom_components/wing/tests/test_wing_global_positions.py
  src/fastoad_cs25/models/geometry/tests/test_aero_center.py
  src/fastoad_cs25/models/geometry/tests/test_geometry_geom_comps.py
  src/fastoad_cs25/models/handling_qualities/tests/test_static_margin.py
  src/fastoad_cs25/models/handling_qualities/tests/test_tail_areas.py
  src/fastoad_cs25/models/loops/tests/test_compute_wing_area.py
  src/fastoad_cs25/models/loops/tests/test_compute_wing_position.py
  src/fastoad_cs25/models/loops/wing_area_component/tests/test_update_wing_area_aero.py
  src/fastoad_cs25/models/loops/wing_area_component/tests/test_update_wing_area_geom.py
  src/fastoad_cs25/models/propulsion/fuel_propulsion/rubber_engine/tests/test_openmdao_engine.py
  src/fastoad_cs25/models/weight/cg/tests/test_cg_components.py
  src/fastoad_cs25/models/weight/mass_breakdown/tests/test_mass_breakdown.py
Due: black, flake8, sync_doc_requirements

Restored the default solver behavior (iprint and maxiter) we had before v0.5
  src/fastoad_cs25/models/weight/cg/cg.py
  src/fastoad_cs25/models/weight/mass_breakdown/mass_breakdown.py
Due: black, flake8

Update of homepage link
  pyproject.toml
Due: none

Adjusted options for planform computation.
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_planform.py
Due: black, flake8

Updated usage of use_inner_solvers option
  src/fastoad_cs25/configurations/cs25_base.yaml
  tests/integration_tests/oad_process/data/oad_process.yml
  tests/integration_tests/oad_process/data/oad_process_breguet.yml
  tests/integration_tests/oad_process/data/oad_process_mission.yml
  tests/integration_tests/oad_process/data/oad_process_mission_only.yml
Due: none

Correction of description
  src/fastoad_cs25/models/weight/mass_breakdown/cs25.py
Due: black, flake8

Updated dependencies.
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Limited compatibility to Python 3.11
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Replaced "root" by "center" for HTP
  src/fastoad_cs25/models/geometry/geom_components/ht/components/compute_ht_chords.py
  src/fastoad_cs25/models/geometry/geom_components/ht/components/compute_ht_local_positions.py
  src/fastoad_cs25/models/geometry/geom_components/ht/components/compute_ht_mac.py
  src/fastoad_cs25/models/geometry/geom_components/ht/components/compute_ht_sweep.py
  src/fastoad_cs25/models/geometry/geom_components/ht/ht_global_positions.py
  src/fastoad_cs25/models/geometry/tests/data/geometry_inputs_full.xml
  src/fastoad_cs25/models/geometry/tests/test_geometry_geom_comps.py
  src/fastoad_cs25/models/variable_descriptions.txt
  src/fastoad_cs25/models/weight/cg/cg_components/compute_ht_cg.py
  src/fastoad_cs25/models/weight/cg/tests/data/cg_inputs.xml
  src/fastoad_cs25/models/weight/cg/tests/test_cg_components.py
  src/fastoad_cs25/notebooks/01_tutorial/data/CeRAS01_baseline.xml
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/CeRAS_reference_data.xml
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/oad_sizing_out.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_breguet_result.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_mission_result.xml
  tests/integration_tests/oad_process/data/no_kink_breguet_result.xml
Due: black, flake8

Corrected wet area coefficient for HTP in case of T-tail
  src/fastoad_cs25/models/handling_qualities/tail_sizing/compute_ht_area.py
  src/fastoad_cs25/models/handling_qualities/tests/test_tail_areas.py
Due: black, flake8

Added new variables to variable_descriptions.txt
  src/fastoad_cs25/models/variable_descriptions.txt
Due: none

Updated dependency to FAST-OAD-core
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Update CHANGELOG.rst
  CHANGELOG.rst
Due: none

Updated Poetry configuration for accepting Python 3.11
  .github/workflows/build_release.yml
  .github/workflows/tests.yml
  .github/workflows/watchman_tests.yml
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Optimized imports
  src/fastoad_cs25/models/aerodynamics/aerodynamics_takeoff.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_fuselage.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_ht.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_nacelles_pylons.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_total.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_vt.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_wing.py
  src/fastoad_cs25/models/aerodynamics/components/cd_compressibility.py
  src/fastoad_cs25/models/aerodynamics/components/cd_trim.py
  src/fastoad_cs25/models/aerodynamics/components/compute_alpha.py
  src/fastoad_cs25/models/aerodynamics/components/compute_max_cl_landing.py
  src/fastoad_cs25/models/aerodynamics/components/compute_polar.py
  src/fastoad_cs25/models/aerodynamics/components/compute_reynolds.py
  src/fastoad_cs25/models/aerodynamics/components/high_lift_aero.py
  src/fastoad_cs25/models/aerodynamics/components/oswald.py
  src/fastoad_cs25/models/geometry/geom_components/ht/components/__init__.py
  src/fastoad_cs25/models/geometry/geom_components/ht/compute_horizontal_tail.py
  src/fastoad_cs25/models/geometry/geom_components/vt/components/__init__.py
  src/fastoad_cs25/models/geometry/geom_components/vt/compute_vertical_tail.py
  src/fastoad_cs25/models/geometry/geom_components/wing/compute_wing.py
  src/fastoad_cs25/models/loops/wing_area_component/update_wing_area_aero.py
Due: black, flake8

Updated pre-commit configuration
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Applied ruff rules
  src/fastoad_cs25/notebooks/01_tutorial/01_tutorial.ipynb
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/CeRAS_case_study.ipynb
Due: nbstripout

Now using ruff instead of black, flake8 and pylint
  .github/workflows/tests.yml
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Adjusted CodeClimate conf.
  .codeclimate.yml
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  sync_doc_requirements: any of: poetry.lock
  nbstripout: any of: \.ipynb$
