Repository fast-aircraft-design/FAST-OAD_CS25: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements, nbstripout

black:
  name: black
  language: system
  entry: black

flake8:
  name: flake8
  language: system
  entry: flake8

sync_doc_requirements:
  name: sync_doc_requirements
  entry: poetry export --with dev --without-hashes -o docs/requirements.txt -f requirements.txt
  language: system
  pass_filenames: false

nbstripout:
  name: nbstripout
  description: 'nbstripout: strip output from Jupyter and IPython notebooks'
  entry: nbstripout
  language: system

test coverage is no more activated by default.
  pyproject.toml
Due: none

Added CodeCov conf.
  codecov.yml
Due: none

Fixed test workflow
  .github/workflows/tests.yml
Due: none

Updated README.md
  README.md
Due: none

A bit less of Pylint
  .pylintrc
  tests/conftest.py
Due: black, flake8

Enabled output scrolling in notebooks when needed
  .pre-commit-config.yaml
  src/fastoad_cs25/notebooks/01_tutorial/01_tutorial.ipynb
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/CeRAS_case_study.ipynb
Due: nbstripout

Corrected ht mac local position
  src/fastoad_cs25/models/geometry/geom_components/ht/components/compute_ht_mac.py
  src/fastoad_cs25/models/geometry/tests/test_geometry_geom_comps.py
Due: black, flake8

Corrected vt mac local position
  src/fastoad_cs25/models/geometry/geom_components/vt/components/compute_vt_mac.py
  src/fastoad_cs25/models/geometry/tests/test_geometry_geom_comps.py
Due: black, flake8

Corrected distance between aerodynamic centers for T tail
  src/fastoad_cs25/models/handling_qualities/tail_sizing/compute_ht_area.py
Due: black, flake8

Temporary test result update
  src/fastoad_cs25/models/handling_qualities/tests/test_tail_areas.py
Due: black, flake8

Renamed a variable
  src/fastoad_cs25/models/handling_qualities/tail_sizing/compute_ht_area.py
Due: black, flake8

Fixed test
  src/fastoad_cs25/models/handling_qualities/tests/test_tail_areas.py
Due: black, flake8

Using directly rad for sweep angle in HT and VT mac computation
  src/fastoad_cs25/models/geometry/geom_components/ht/components/compute_ht_mac.py
  src/fastoad_cs25/models/geometry/geom_components/vt/components/compute_vt_mac.py
Due: black, flake8

Updated expected results in integration tests because of model correction
  tests/integration_tests/oad_process/data/CeRAS01_legacy_breguet_result.xml
  tests/integration_tests/oad_process/data/no_kink_breguet_result.xml
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

Fixed non-regression test
  tests/integration_tests/oad_process/data/CeRAS01_legacy_breguet_result.xml
Due: none

Updated changelog
  CHANGELOG.rst
  pyproject.toml
Due: none

Updated watchman test workflow
  .github/workflows/watchman_tests.yml
Due: none

Fixed datafile for CeRAS notebook
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/CeRAS_data_for_plots.xml
Due: none

Updated changelog
  CHANGELOG.rst
Due: none

Fixed pyproject.toml
  pyproject.toml
Due: none

Temporary project settings
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Now supporting Python 3.12 Dropped support for Python 3.8.
  .github/workflows/tests.yml
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Updated CHANGELOG.rst.
  CHANGELOG.rst
Due: none

Added scaling factor for HTP area
  src/fastoad_cs25/models/handling_qualities/tail_sizing/compute_ht_area.py
  src/fastoad_cs25/models/variable_descriptions.txt
Due: black, flake8

Added scaling factor for VTP area
  src/fastoad_cs25/models/handling_qualities/tail_sizing/compute_vt_area.py
  src/fastoad_cs25/models/variable_descriptions.txt
Due: black, flake8

Corrected naming of scaling factor now as tuning
  src/fastoad_cs25/models/handling_qualities/tail_sizing/compute_ht_area.py
  src/fastoad_cs25/models/handling_qualities/tail_sizing/compute_vt_area.py
  src/fastoad_cs25/models/variable_descriptions.txt
Due: black, flake8

Updated ipykernel for Python 3.12 compatibility
  docs/requirements.txt
  poetry.lock
Due: sync_doc_requirements

Corrected CHANGELOG.rst
  CHANGELOG.rst
Due: none

Updated CHANGELOG.rst
  CHANGELOG.rst
Due: none

Added tuning ratio between MLW and MZFW
  src/fastoad_cs25/models/weight/mass_breakdown/update_mlw_and_mzfw.py
Due: black, flake8

WIP
  poetry.lock
  src/fastoad_cs25/models/variable_descriptions.txt
  src/fastoad_cs25/models/weight/mass_breakdown/constants.py
  src/fastoad_cs25/models/weight/mass_breakdown/mass_breakdown.py
  src/fastoad_cs25/models/weight/mass_breakdown/update_mlw_and_mzfw.py
Due: black, flake8, sync_doc_requirements

WIP
  pyproject.toml
  src/fastoad_cs25/models/weight/mass_breakdown/mass_breakdown.py
  src/fastoad_cs25/models/weight/mass_breakdown/tests/data/mass_breakdown_inputs.xml
  src/fastoad_cs25/models/weight/mass_breakdown/tests/test_mass_breakdown.py
Due: black, flake8

test integration ad dep update
  poetry.lock
  pyproject.toml
  src/fastoad_cs25/models/weight/mass_breakdown/tests/data/mass_breakdown_inputs.xml
  src/fastoad_cs25/models/weight/mass_breakdown/tests/test_mass_breakdown.py
Due: black, flake8, sync_doc_requirements

solve codacy issues and dep update
  pyproject.toml
  src/fastoad_cs25/models/weight/mass_breakdown/mass_breakdown.py
Due: black, flake8

remove analytical submodule and split developement in mlw_mzsw_analytical branch
  src/fastoad_cs25/models/weight/mass_breakdown/tests/data/mass_breakdown_inputs.xml
  src/fastoad_cs25/models/weight/mass_breakdown/tests/test_mass_breakdown.py
  src/fastoad_cs25/models/weight/mass_breakdown/update_mlw_and_mzfw.py
Due: black, flake8

holding fuel is added
  src/fastoad_cs25/models/weight/mass_breakdown/update_mlw_and_mzfw.py
Due: black, flake8

remove unnecessary default configuration
  src/fastoad_cs25/models/weight/mass_breakdown/mass_breakdown.py
Due: black, flake8

Added tuning parameter to evaluate MLW and MZFW (#51)
  pyproject.toml
  src/fastoad_cs25/models/variable_descriptions.txt
  src/fastoad_cs25/models/weight/mass_breakdown/constants.py
  src/fastoad_cs25/models/weight/mass_breakdown/mass_breakdown.py
  src/fastoad_cs25/models/weight/mass_breakdown/tests/data/mass_breakdown_inputs.xml
  src/fastoad_cs25/models/weight/mass_breakdown/update_mlw_and_mzfw.py
Due: black, flake8

Update of nbstripout
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  sync_doc_requirements: any of: poetry.lock
  nbstripout: any of: \.ipynb$
