Repository fast-aircraft-design/FAST-OAD_CS25: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements, nbstripout

black:
  name: black
  language: system
  entry: black

flake8:
  name: flake8
  language: system
  entry: flake8

sync_doc_requirements:
  name: sync_doc_requirements
  entry: poetry export --with dev --without-hashes -o docs/requirements.txt -f requirements.txt
  language: system
  pass_filenames: false

nbstripout:
  name: nbstripout
  description: 'nbstripout: strip output from Jupyter and IPython notebooks'
  entry: nbstripout
  language: system

CeRAS notebook neede an update: - missions were still "old-style", with no description of taxi-out and takeoff. - some numerical results in the text had to be slightly updated.
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/CeRAS_case_study.ipynb
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/CeRAS_missions.yml
Due: nbstripout

Added possibility to specify absolute Y engine position
  .gitignore
  src/fastoad_cs25/models/geometry/geom_components/nacelle_pylons/compute_nacelle_pylons.py
  src/fastoad_cs25/models/geometry/geom_components/nacelle_pylons/tests/test_geom_nacelle_pylon.py
Due: black, flake8

Added absolute positioning of kink and absolute trailing edge kink sweep angle
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_planform.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_relative_kink.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_sweep_wing.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_y_wing.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/tests/test_wing_geom_comps.py
  src/fastoad_cs25/models/geometry/geom_components/wing/compute_wing.py
  src/fastoad_cs25/models/geometry/geom_components/wing/tests/test_compute_wing.py
Due: black, flake8

FD evaluation
  .gitignore
  src/fastoad_cs25/models/geometry/geom_components/nacelle_pylons/compute_nacelle_pylons.py
  src/fastoad_cs25/models/geometry/geom_components/nacelle_pylons/tests/test_geom_nacelle_pylon.py
Due: black, flake8

Added possibility to specify absolute Y engine position (#55)
  src/fastoad_cs25/models/geometry/geom_components/nacelle_pylons/compute_nacelle_pylons.py
  src/fastoad_cs25/models/geometry/geom_components/nacelle_pylons/tests/test_geom_nacelle_pylon.py
Due: black, flake8

Modifing defalut values
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_sweep_wing.py
Due: black, flake8

Added absolute positioning of kink and absolute trailing edge kink sweep angle (#56)
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_planform.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_relative_kink.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_sweep_wing.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_y_wing.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/tests/test_wing_geom_comps.py
  src/fastoad_cs25/models/geometry/geom_components/wing/compute_wing.py
  src/fastoad_cs25/models/geometry/geom_components/wing/tests/test_compute_wing.py
Due: black, flake8

Update of CeRAS Notebook with description of taxi-out and takeoff (#54)
  poetry.lock
  pyproject.toml
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/CeRAS_case_study.ipynb
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/CeRAS_missions.yml
Due: sync_doc_requirements, nbstripout

Added changelog
  CHANGELOG.rst
Due: none

Updated changelog (#57)
  CHANGELOG.rst
Due: none

update building and publishing workflow
  .github/workflows/build_release.yml
  pyproject.toml
Due: none

Adding center chord evaluation
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_center_chord.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_planform.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/tests/test_wing_geom_comps.py
  src/fastoad_cs25/models/variable_descriptions.txt
Due: black, flake8

Enhance test and function
  docs/refs.bib
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_center_chord.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/tests/test_wing_geom_comps.py
  src/fastoad_cs25/models/variable_descriptions.txt
Due: black, flake8

fastoad core dependency update
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

relaxed test tolerances
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

simplified the return of the ComputeCenterChord function
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_center_chord.py
Due: black, flake8

updated CHANGELOG
  CHANGELOG.rst
Due: none

Fix engine Y ratio description
  src/fastoad_cs25/models/variable_descriptions.txt
Due: none

Fix engine Y ratio description (#61)
  src/fastoad_cs25/models/variable_descriptions.txt
Due: none

Hide explicit Codecov token
  .github/workflows/tests.yml
Due: none

Bump ruff version to 0.11.5
  poetry.lock
  pyproject.toml
  src/fastoad_cs25/models/aerodynamics/components/compute_polar.py
  src/fastoad_cs25/models/weight/cg/tests/test_cg_components.py
Due: black, flake8, sync_doc_requirements

Bump ruff version to 0.11.5 (#63)
  poetry.lock
  pyproject.toml
  src/fastoad_cs25/models/aerodynamics/components/compute_polar.py
  src/fastoad_cs25/models/weight/cg/tests/test_cg_components.py
Due: black, flake8, sync_doc_requirements

Created new Loads discipline and updated tests
  pyproject.toml
  src/fastoad_cs25/configurations/cs25_base.yaml
  src/fastoad_cs25/models/loads/__init__.py
  src/fastoad_cs25/models/loads/constants.py
  src/fastoad_cs25/models/loads/loads.py
  src/fastoad_cs25/models/loads/sizing_loads/__init__.py
  src/fastoad_cs25/models/loads/sizing_loads/gust.py
  src/fastoad_cs25/models/loads/sizing_loads/maneuver.py
  src/fastoad_cs25/models/loads/sizing_loads/sizing_loads_envelope.py
  src/fastoad_cs25/models/loads/tests/__init__.py
  src/fastoad_cs25/models/loads/tests/data/mass_breakdown_inputs.xml
  src/fastoad_cs25/models/loads/tests/test_loads.py
  src/fastoad_cs25/models/loops/compute_wing_position.py
  src/fastoad_cs25/models/variable_descriptions.txt
  src/fastoad_cs25/models/weight/mass_breakdown/a_airframe/a1_wing_weight.py
  src/fastoad_cs25/models/weight/mass_breakdown/a_airframe/a2_fuselage_weight.py
  src/fastoad_cs25/models/weight/mass_breakdown/a_airframe/a4_flight_control_weight.py
  src/fastoad_cs25/models/weight/mass_breakdown/a_airframe/sum.py
  src/fastoad_cs25/models/weight/mass_breakdown/constants.py
  src/fastoad_cs25/models/weight/mass_breakdown/tests/test_mass_breakdown.py
  src/fastoad_cs25/notebooks/01_tutorial/data/CeRAS01_baseline.xml
  src/fastoad_cs25/notebooks/01_tutorial/data/oad_process_timestep_mission.yml
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/oad_sizing_out.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_breguet_result.xml
  tests/integration_tests/oad_process/data/no_kink_breguet_result.xml
  tests/integration_tests/oad_process/data/oad_process.yml
  tests/integration_tests/oad_process/data/oad_process_breguet.yml
  tests/integration_tests/oad_process/data/oad_process_mission.yml
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

Added nonlinear_solver="om.NonlinearBlockGS" to comply with future versions of FASTOAD core
  src/fastoad_cs25/models/weight/mass_breakdown/tests/test_mass_breakdown.py
Due: black, flake8

Fixed notebooks
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/oad_sizing.yml
Due: none

Implemented review advices
  pyproject.toml
  src/fastoad_cs25/models/loads/__init__.py
  src/fastoad_cs25/models/loads/constants.py
  src/fastoad_cs25/models/loads/loads.py
  src/fastoad_cs25/models/loads/sizing_loads/gust.py
  src/fastoad_cs25/models/loads/sizing_loads/maneuver.py
  src/fastoad_cs25/models/loads/sizing_loads/sizing_loads_envelope.py
  tests/integration_tests/oad_process/data/oad_process.yml
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

Refactoring and partial derivative evaluation
  src/fastoad_cs25/models/loads/__init__.py
  src/fastoad_cs25/models/loads/constants.py
  src/fastoad_cs25/models/loads/loads.py
  src/fastoad_cs25/models/loads/sizing_loads/gust.py
  src/fastoad_cs25/models/loads/sizing_loads/maneuver.py
  src/fastoad_cs25/models/loads/sizing_loads/sizing_loads_envelope.py
  src/fastoad_cs25/models/loads/sizing_loads/sizing_loads_max.py
  src/fastoad_cs25/models/loads/tests/test_loads.py
  src/fastoad_cs25/models/variable_descriptions.txt
  src/fastoad_cs25/models/weight/mass_breakdown/a_airframe/a1_wing_weight.py
  src/fastoad_cs25/models/weight/mass_breakdown/a_airframe/a2_fuselage_weight.py
  src/fastoad_cs25/models/weight/mass_breakdown/a_airframe/a4_flight_control_weight.py
  src/fastoad_cs25/models/weight/mass_breakdown/tests/test_mass_breakdown.py
Due: black, flake8

Added finite difference derivation
  src/fastoad_cs25/models/loads/sizing_loads/gust.py
  src/fastoad_cs25/models/loads/sizing_loads/maneuver.py
  src/fastoad_cs25/models/loads/sizing_loads/sizing_loads_envelope.py
  src/fastoad_cs25/models/loads/tests/test_loads.py
  src/fastoad_cs25/models/variable_descriptions.txt
Due: black, flake8

Additional review remarks
  src/fastoad_cs25/models/loads/loads.py
  src/fastoad_cs25/models/loads/sizing_loads/__init__.py
  src/fastoad_cs25/models/loads/sizing_loads/gust.py
  src/fastoad_cs25/models/loads/sizing_loads/maneuver.py
  src/fastoad_cs25/models/loads/sizing_loads/sizing_loads_envelope.py
  src/fastoad_cs25/models/loads/sizing_loads/sizing_loads_max.py
  src/fastoad_cs25/models/loads/tests/test_loads.py
  src/fastoad_cs25/models/weight/mass_breakdown/tests/test_mass_breakdown.py
Due: black, flake8

Rename variables
  src/fastoad_cs25/models/loads/sizing_loads/gust.py
  src/fastoad_cs25/models/loads/sizing_loads/maneuver.py
Due: black, flake8

Update src/fastoad_cs25/models/loads/sizing_loads/sizing_loads_envelope.py
  src/fastoad_cs25/models/loads/sizing_loads/sizing_loads_envelope.py
Due: black, flake8

no more need for kink:span_ratio if impose_absolute_kink is true
  pyproject.toml
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_y_wing.py
Due: black, flake8

Add global position evaluation of center cord
  src/fastoad_cs25/models/geometry/geom_components/wing/wing_global_positions.py
Due: black, flake8

making codacy happy
  src/fastoad_cs25/models/geometry/geom_components/wing/wing_global_positions.py
Due: black, flake8

add the newely inserted ModelDomain.LOADS
  poetry.lock
  pyproject.toml
  src/fastoad_cs25/models/loads/loads.py
Due: black, flake8, sync_doc_requirements

update changelog and package version
  CHANGELOG.rst
  pyproject.toml
Due: none

Update CHANGELOG.rst
  CHANGELOG.rst
Due: none

add sizing_load_factor in the load module
  src/fastoad_cs25/models/loads/sizing_loads/sizing_loads_max.py
  src/fastoad_cs25/models/loads/tests/test_loads.py
Due: black, flake8

updating toml and deprecating 3.9
  .github/workflows/tests.yml
  .github/workflows/watchman_tests.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  sync_doc_requirements: any of: poetry.lock
  nbstripout: any of: \.ipynb$
