Repository fast-aircraft-design/FAST-OAD_CS25: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements, nbstripout

black:
  name: black
  language: system
  entry: black

flake8:
  name: flake8
  language: system
  entry: flake8

sync_doc_requirements:
  name: sync_doc_requirements
  entry: poetry export --with dev --without-hashes -o docs/requirements.txt -f requirements.txt
  language: system
  pass_filenames: false

nbstripout:
  name: nbstripout
  description: 'nbstripout: strip output from Jupyter and IPython notebooks'
  entry: nbstripout
  language: system

fixing CD0 capitalization
  .gitignore
  src/fastoad_cs25/models/aerodynamics/components/cd0_fuselage.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_ht.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_nacelles_pylons.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_total.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_vt.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_wing.py
  src/fastoad_cs25/models/aerodynamics/components/compute_polar.py
  src/fastoad_cs25/models/aerodynamics/components/tests/test_components.py
  src/fastoad_cs25/models/aerodynamics/tests/test_aerodynamics_landing.py
  src/fastoad_cs25/models/variable_descriptions.txt
Due: black, flake8

fix integration tests
  src/fastoad_cs25/models/aerodynamics/components/compute_reynolds.py
  src/fastoad_cs25/models/aerodynamics/components/tests/data/aerodynamics_inputs.xml
  src/fastoad_cs25/models/aerodynamics/components/tests/test_components.py
  src/fastoad_cs25/models/aerodynamics/tests/data/aerodynamics_inputs.xml
  src/fastoad_cs25/models/geometry/tests/data/geometry_inputs_full.xml
  src/fastoad_cs25/notebooks/01_tutorial/data/CeRAS01_baseline.xml
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/CeRAS_reference_data.xml
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/oad_sizing_out.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_breguet_result.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_mission_result.xml
  tests/integration_tests/oad_process/data/no_kink_breguet_result.xml
Due: black, flake8

update option name for reynolds altitude so that is clear thet is for high speed only
  src/fastoad_cs25/models/aerodynamics/components/compute_reynolds.py
  src/fastoad_cs25/models/aerodynamics/components/tests/test_components.py
Due: black, flake8

update integration tests folder tree
  docs/requirements.txt
  poetry.lock
  tests/integration_tests/oad_process/data/oad_process.yml
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8, sync_doc_requirements

fix according to review
  src/fastoad_cs25/models/variable_descriptions.txt
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/CeRAS_reference_data.xml
Due: none

removed unnecessary trim output
  src/fastoad_cs25/models/aerodynamics/components/compute_polar.py
  src/fastoad_cs25/models/aerodynamics/components/tests/test_components.py
Due: black, flake8

corrected viscous drag hallucination
  src/fastoad_cs25/models/aerodynamics/components/compute_polar.py
  src/fastoad_cs25/models/aerodynamics/components/tests/test_components.py
  src/fastoad_cs25/models/variable_descriptions.txt
Due: black, flake8

now the cg eval is ok even when the engine is positioned after the kink
  src/fastoad_cs25/models/geometry/geom_components/nacelle_pylons/compute_nacelle_pylons.py
Due: black, flake8

renamed induced_drag_coefficient
  src/fastoad_cs25/models/aerodynamics/components/compute_polar.py
  src/fastoad_cs25/models/aerodynamics/components/oswald.py
  src/fastoad_cs25/models/aerodynamics/components/tests/test_components.py
  src/fastoad_cs25/models/aerodynamics/tests/data/aerodynamics_inputs.xml
  src/fastoad_cs25/models/aerodynamics/tests/test_aerodynamics_landing.py
  src/fastoad_cs25/models/variable_descriptions.txt
  src/fastoad_cs25/notebooks/01_tutorial/data/CeRAS01_baseline.xml
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/CeRAS_reference_data.xml
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/oad_sizing_out.xml
Due: black, flake8

Update src/fastoad_cs25/models/geometry/geom_components/nacelle_pylons/compute_nacelle_pylons.py
  src/fastoad_cs25/models/geometry/geom_components/nacelle_pylons/compute_nacelle_pylons.py
Due: black, flake8

enforce scalarize on Chord inputs
  src/fastoad_cs25/models/geometry/geom_components/nacelle_pylons/compute_nacelle_pylons.py
Due: black, flake8

Added unitless for aerodynamics coefficients
  src/fastoad_cs25/models/aerodynamics/aerodynamics_landing.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_fuselage.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_total.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_wing.py
  src/fastoad_cs25/models/aerodynamics/components/cd_compressibility.py
  src/fastoad_cs25/models/aerodynamics/components/cd_trim.py
  src/fastoad_cs25/models/aerodynamics/components/compute_alpha.py
  src/fastoad_cs25/models/aerodynamics/components/compute_max_cl_landing.py
  src/fastoad_cs25/models/aerodynamics/components/compute_polar.py
  src/fastoad_cs25/models/aerodynamics/components/high_lift_aero.py
  src/fastoad_cs25/models/aerodynamics/components/initialize_cl.py
Due: black, flake8

Bug fix, need to fix fast-oad core for default units of Mach in mission builder
  src/fastoad_cs25/models/aerodynamics/components/cd0_ht.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_nacelles_pylons.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_vt.py
  src/fastoad_cs25/models/aerodynamics/components/cd_compressibility.py
  src/fastoad_cs25/models/aerodynamics/components/compute_cl_alpha.py
  src/fastoad_cs25/models/aerodynamics/components/compute_reynolds.py
  src/fastoad_cs25/models/aerodynamics/components/oswald.py
  src/fastoad_cs25/models/aerodynamics/components/tests/data/aerodynamics_inputs.xml
  src/fastoad_cs25/models/aerodynamics/components/tests/test_components.py
  src/fastoad_cs25/models/aerodynamics/tests/data/aerodynamics_inputs.xml
  src/fastoad_cs25/models/geometry/geom_components/ht/components/compute_ht_cl_alpha.py
  src/fastoad_cs25/models/geometry/geom_components/vt/components/compute_vt_clalpha.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_toc_wing.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/tests/test_wing_geom_comps.py
  src/fastoad_cs25/models/geometry/geom_components/wing/tests/test_compute_wing.py
  src/fastoad_cs25/models/geometry/tests/data/geometry_inputs_full.xml
  src/fastoad_cs25/models/handling_qualities/tail_sizing/compute_vt_area.py
  src/fastoad_cs25/models/handling_qualities/tests/data/hq_inputs.xml
  src/fastoad_cs25/notebooks/01_tutorial/data/CeRAS01_baseline.xml
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/CeRAS_reference_data.xml
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/oad_sizing_out.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_breguet_result.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_mission_result.xml
  tests/integration_tests/oad_process/data/no_kink_breguet_result.xml
Due: black, flake8

Corrected units of Cnbeta fuselage in legacy .xml files
  src/fastoad_cs25/notebooks/01_tutorial/data/CeRAS01_baseline.xml
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/CeRAS_reference_data.xml
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/oad_sizing_out.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_breguet_result.xml
  tests/integration_tests/oad_process/data/no_kink_breguet_result.xml
Due: none

ruff formatting
  src/fastoad_cs25/models/aerodynamics/aerodynamics_landing.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_fuselage.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_ht.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_nacelles_pylons.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_total.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_vt.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_wing.py
  src/fastoad_cs25/models/aerodynamics/components/cd_compressibility.py
  src/fastoad_cs25/models/aerodynamics/components/cd_trim.py
  src/fastoad_cs25/models/aerodynamics/components/compute_alpha.py
  src/fastoad_cs25/models/aerodynamics/components/compute_max_cl_landing.py
  src/fastoad_cs25/models/aerodynamics/components/compute_polar.py
  src/fastoad_cs25/models/aerodynamics/components/initialize_cl.py
  src/fastoad_cs25/models/aerodynamics/components/oswald.py
  src/fastoad_cs25/models/aerodynamics/components/tests/test_components.py
  src/fastoad_cs25/models/geometry/geom_components/fuselage/compute_fuselage.py
  src/fastoad_cs25/models/geometry/geom_components/vt/components/compute_vt_distance.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/tests/test_wing_geom_comps.py
  src/fastoad_cs25/models/geometry/tests/test_geometry_geom_comps.py
  src/fastoad_cs25/models/handling_qualities/tail_sizing/compute_ht_area.py
  src/fastoad_cs25/models/loops/wing_area_component/update_wing_area_aero.py
  src/fastoad_cs25/models/propulsion/fuel_propulsion/rubber_engine/openmdao.py
  src/fastoad_cs25/models/propulsion/fuel_propulsion/rubber_engine/tests/test_openmdao_engine.py
  src/fastoad_cs25/models/weight/cg/cg_components/compute_cg_others.py
  src/fastoad_cs25/models/weight/cg/cg_components/compute_max_cg_ratio.py
  src/fastoad_cs25/models/weight/cg/cg_components/load_cases/compute_cg_loadcases.py
  src/fastoad_cs25/models/weight/cg/cg_components/update_mlg.py
  src/fastoad_cs25/models/weight/cg/tests/test_cg_components.py
  src/fastoad_cs25/models/weight/mass_breakdown/a_airframe/a1_wing_weight.py
  src/fastoad_cs25/models/weight/mass_breakdown/c_systems/c1_power_systems_weight.py
  src/fastoad_cs25/models/weight/mass_breakdown/c_systems/c2_life_support_systems_weight.py
  src/fastoad_cs25/models/weight/mass_breakdown/c_systems/c5_fixed_operational_systems_weight.py
  src/fastoad_cs25/models/weight/mass_breakdown/d_furniture/d1_cargo_configuration_weight.py
Due: black, flake8

added unitless attribute to XMLs used for testing purposes
  problem_out/.openmdao_out
  src/fastoad_cs25/models/aerodynamics/components/tests/data/aerodynamics_inputs.xml
  src/fastoad_cs25/models/aerodynamics/tests/data/aerodynamics_inputs.xml
  src/fastoad_cs25/models/geometry/tests/data/geometry_inputs_full.xml
  src/fastoad_cs25/models/handling_qualities/tests/data/hq_inputs.xml
  src/fastoad_cs25/models/loads/tests/data/mass_breakdown_inputs.xml
  src/fastoad_cs25/models/weight/cg/cg_components/load_cases/compute_cg_loadcases.py
  src/fastoad_cs25/models/weight/cg/tests/data/cg_inputs.xml
  src/fastoad_cs25/models/weight/mass_breakdown/tests/data/mass_breakdown_inputs.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_breguet_result.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_mission_result.xml
  tests/integration_tests/oad_process/data/no_kink_breguet_result.xml
Due: black, flake8

dependencies update
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

readd CL landing, missed in a rebase
  src/fastoad_cs25/models/aerodynamics/components/compute_polar.py
Due: black, flake8

add altitude_input instead of altitude for mission
  src/fastoad_cs25/models/aerodynamics/components/compute_reynolds.py
  src/fastoad_cs25/models/aerodynamics/components/tests/data/aerodynamics_inputs.xml
  src/fastoad_cs25/models/aerodynamics/components/tests/test_components.py
  src/fastoad_cs25/models/aerodynamics/tests/data/aerodynamics_inputs.xml
  src/fastoad_cs25/models/geometry/tests/data/geometry_inputs_full.xml
  src/fastoad_cs25/notebooks/01_tutorial/data/CeRAS01_baseline.xml
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/CeRAS_reference_data.xml
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/oad_sizing_out.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_breguet_result.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_mission_result.xml
  tests/integration_tests/oad_process/data/no_kink_breguet_result.xml
Due: black, flake8

Potential fix for pull request finding
  pyproject.toml
Due: none

fix integration tests
  src/fastoad_cs25/models/geometry/tests/data/geometry_inputs_full.xml
  src/fastoad_cs25/notebooks/01_tutorial/data/CeRAS01_baseline.xml
Due: none

update integration tests folder tree
  docs/requirements.txt
  tests/integration_tests/oad_process/data/oad_process.yml
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

fix according to review
  src/fastoad_cs25/models/variable_descriptions.txt
Due: none

some cleaning after the rebase
  docs/requirements.txt
  poetry.lock
  src/fastoad_cs25/models/aerodynamics/components/cd0_fuselage.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_ht.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_nacelles_pylons.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_total.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_vt.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_wing.py
  src/fastoad_cs25/models/aerodynamics/components/cd_compressibility.py
  src/fastoad_cs25/models/aerodynamics/components/compute_polar.py
  src/fastoad_cs25/models/aerodynamics/components/initialize_cl.py
  src/fastoad_cs25/models/aerodynamics/components/oswald.py
  src/fastoad_cs25/models/geometry/tests/data/geometry_inputs_full.xml
  src/fastoad_cs25/models/handling_qualities/tests/test_static_margin.py
Due: black, flake8, sync_doc_requirements

back to production branch
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

update testing
  src/fastoad_cs25/models/aerodynamics/components/tests/test_components.py
Due: black, flake8

added data:aerodynamics:aircraft for the unit_reynolds name
  src/fastoad_cs25/models/aerodynamics/components/cd0_fuselage.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_ht.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_nacelles_pylons.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_vt.py
  src/fastoad_cs25/models/aerodynamics/components/cd0_wing.py
  src/fastoad_cs25/models/aerodynamics/components/compute_reynolds.py
  src/fastoad_cs25/models/aerodynamics/components/tests/test_components.py
  src/fastoad_cs25/models/variable_descriptions.txt
  src/fastoad_cs25/notebooks/01_tutorial/data/CeRAS01_baseline.xml
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/CeRAS_reference_data.xml
  src/fastoad_cs25/notebooks/02_CeRAS_case_study/data/oad_sizing_out.xml
  tests/integration_tests/oad_process/data/CeRAS01_legacy_breguet_result.xml
  tests/integration_tests/oad_process/data/no_kink_breguet_result.xml
Due: black, flake8

Update src/fastoad_cs25/models/aerodynamics/components/tests/test_components.py
  src/fastoad_cs25/models/aerodynamics/components/tests/test_components.py
Due: black, flake8

ruff format after github commits
  src/fastoad_cs25/models/aerodynamics/components/tests/test_components.py
Due: black, flake8

fix low_speed instead of high
  src/fastoad_cs25/models/aerodynamics/components/tests/test_components.py
Due: black, flake8

update fast-oad-core dependency
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

update changelog and toml
  CHANGELOG.rst
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

add a minimal value to virtual root chord depending on span
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_l1_l4.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  sync_doc_requirements: any of: poetry.lock
  nbstripout: any of: \.ipynb$
