Repository fast-aircraft-design/FAST-OAD_CS25: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, sync_doc_requirements, nbstripout

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:

      - id: black
        name: black
        language: system
        entry: black
        types: [ python ]

      - id: flake8
        name: flake8
        language: system
        entry: flake8
        types: [ python ]

      - id: sync_doc_requirements
        name: sync_doc_requirements
        entry: poetry export --with dev --without-hashes -o docs/requirements.txt -f requirements.txt
        language: system
        pass_filenames: false
        files: 'poetry.lock'

      - id: nbstripout
        name: nbstripout
        description: 'nbstripout: strip output from Jupyter and IPython notebooks'
        entry: nbstripout
        language: system
        types: [ jupyter ]

Fixed triggering of watchman tests
  .github/workflows/watchman_tests.yml
Due: none

Fixed RTD conf.
  .readthedocs.yaml
Due: none

Fixed generation of docs/requirements.txt
  .pre-commit-config.yaml
  docs/requirements.txt
Due: none

Added export of package list in watchman tests.
  .github/workflows/watchman_tests.yml
Due: none

Updated Github actions
  .github/workflows/build_release.yml
  .github/workflows/tests.yml
  .github/workflows/watchman_tests.yml
Due: none

Fixed watchman test
  .github/workflows/watchman_tests.yml
Due: none

Sweep angle of inner trailing edge is now controlled by a coefficient.
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_l1_l4.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_l2_l3.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_sweep_wing.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/tests/test_wing_geom_comps.py
  src/fastoad_cs25/models/geometry/geom_components/wing/compute_wing.py
  src/fastoad_cs25/models/geometry/geom_components/wing/tests/test_compute_wing.py
  src/fastoad_cs25/models/variable_descriptions.txt
Due: black, flake8

Reworked (simplified a bit) the test for wing area computation.
  src/fastoad_cs25/models/loops/tests/test_compute_wing_area.py
Due: black, flake8

Added unit tests for wing area computation submodels.
  src/fastoad_cs25/models/loops/wing_area_component/tests/__init__.py
  src/fastoad_cs25/models/loops/wing_area_component/tests/test_update_wing_area_aero.py
  src/fastoad_cs25/models/loops/wing_area_component/tests/test_update_wing_area_geom.py
Due: black, flake8

Added options for wing area computations.
  src/fastoad_cs25/models/loops/compute_wing_area.py
  src/fastoad_cs25/models/loops/tests/test_compute_wing_area.py
Due: black, flake8

Computation of wing geometry is now done using submodels.
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_mfw.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_planform.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_toc_wing.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_wet_area_wing.py
  src/fastoad_cs25/models/geometry/geom_components/wing/compute_wing.py
  src/fastoad_cs25/models/geometry/geom_components/wing/constants.py
Due: black, flake8

Minor changes
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_b_50.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_l1_l4.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_l2_l3.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_mac_wing.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_sweep_wing.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_x_wing.py
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_y_wing.py
Due: black, flake8

Added option for (de)activating computation of thicknesses.
  src/fastoad_cs25/models/geometry/geom_components/wing/compute_wing.py
Due: black, flake8

Added integration test using base configuration file.
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

Fixed component for computation of global positions of wing chords.
  src/fastoad_cs25/configurations/cs25_base.yaml
  src/fastoad_cs25/models/geometry/tests/test_wing_global_positions.py
  src/fastoad_cs25/models/geometry/wing_global_positions.py
Due: black, flake8

Computation of global positions moved as a submodel.
  src/fastoad_cs25/configurations/cs25_base.yaml
  src/fastoad_cs25/models/geometry/geom_components/wing/compute_wing.py
  src/fastoad_cs25/models/geometry/geom_components/wing/constants.py
  src/fastoad_cs25/models/geometry/geom_components/wing/tests/test_wing_global_positions.py
  src/fastoad_cs25/models/geometry/geom_components/wing/wing_global_positions.py
Due: black, flake8

Added computation of MAC leading edge position in global frame.
  src/fastoad_cs25/models/geometry/geom_components/wing/wing_global_positions.py
Due: black, flake8

Updated change log.
  CHANGELOG.rst
Due: none

Fixed integration tests for macOS.
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

Solving dependencies
  pyproject.toml
Due: none

isa_offset is now used by atmosphere in engine model
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/fastoad_cs25/models/propulsion/fuel_propulsion/rubber_engine/rubber_engine.py
  src/fastoad_cs25/models/propulsion/fuel_propulsion/rubber_engine/tests/test_rubber_engine.py
Due: black, flake8, sync_doc_requirements

Updated version of code for compatibility with other packages
  pyproject.toml
Due: none

Now using official releases of fast-oad-core and stdatm.
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Updated FAST-OAD
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: sync_doc_requirements

Factorized solver settings using CycleGroup
  src/fastoad_cs25/models/geometry/geom_components/wing/components/compute_planform.py
  src/fastoad_cs25/models/weight/cg/cg.py
  src/fastoad_cs25/models/weight/mass_breakdown/mass_breakdown.py
Due: black, flake8

Modified base configuration file to deactivate inner solvers
  src/fastoad_cs25/configurations/cs25_base.yaml
Due: none

Deactivated inner solvers in all integration tests.
  tests/integration_tests/oad_process/data/oad_process.yml
  tests/integration_tests/oad_process/data/oad_process_breguet.yml
  tests/integration_tests/oad_process/data/oad_process_mission.yml
  tests/integration_tests/oad_process/data/oad_process_mission_only.yml
  tests/integration_tests/oad_process/test_oad_process.py
Due: black, flake8

Added setting for: -VTP position on fuselage, -HTP position on VTP if t-tail, -front landing gear position on front-fuselage
  src/fastoad_cs25/models/aerodynamics/components/tests/test_components.py
  src/fastoad_cs25/models/geometry/geom_components/vt/components/compute_vt_distance.py
  src/fastoad_cs25/models/handling_qualities/tail_sizing/compute_ht_area.py
  src/fastoad_cs25/models/handling_qualities/tests/data/hq_inputs.xml
  src/fastoad_cs25/models/handling_qualities/tests/test_tail_areas.py
  src/fastoad_cs25/models/variable_descriptions.txt
  src/fastoad_cs25/models/weight/cg/cg_components/compute_cg_others.py
Due: black, flake8

Fixed test workflow for macOS
  .github/workflows/tests.yml
Due: none

Update src/fastoad_cs25/models/handling_qualities/tests/test_tail_areas.py
  src/fastoad_cs25/models/handling_qualities/tests/test_tail_areas.py
Due: black, flake8

Update src/fastoad_cs25/models/variable_descriptions.txt
  src/fastoad_cs25/models/variable_descriptions.txt
Due: none

Black formating
  src/fastoad_cs25/models/handling_qualities/tests/test_tail_areas.py
Due: black, flake8

Added computation of local and global x positions of vertical tail
  src/fastoad_cs25/models/geometry/constants.py
  src/fastoad_cs25/models/geometry/geom_components/vt/components/__init__.py
  src/fastoad_cs25/models/geometry/geom_components/vt/components/compute_vt_local_positions.py
  src/fastoad_cs25/models/geometry/geom_components/vt/compute_vertical_tail.py
  src/fastoad_cs25/models/geometry/geom_components/vt/vt_global_positions.py
Due: black, flake8

Added tests for local and global x positions of vertical tail
  src/fastoad_cs25/models/geometry/tests/test_geometry_geom_comps.py
Due: black, flake8

Added computation for local and global x positions of horizontal tail
  src/fastoad_cs25/models/geometry/constants.py
  src/fastoad_cs25/models/geometry/geom_components/ht/components/__init__.py
  src/fastoad_cs25/models/geometry/geom_components/ht/components/compute_ht_local_positions.py
  src/fastoad_cs25/models/geometry/geom_components/ht/compute_horizontal_tail.py
  src/fastoad_cs25/models/geometry/geom_components/ht/ht_global_positions.py
Due: black, flake8

Added tests for local and global x positions of horizontal tail
  src/fastoad_cs25/models/geometry/geom_components/ht/ht_global_positions.py
  src/fastoad_cs25/models/geometry/geom_components/vt/vt_global_positions.py
  src/fastoad_cs25/models/geometry/tests/test_geometry_geom_comps.py
Due: black, flake8

Corrected set_input_defaults
  src/fastoad_cs25/models/geometry/geom_components/ht/ht_global_positions.py
  src/fastoad_cs25/models/geometry/geom_components/vt/vt_global_positions.py
Due: black, flake8

Now using IndepVarComp for unit tests
  src/fastoad_cs25/models/geometry/tests/test_geometry_geom_comps.py
Due: black, flake8
